<?xml version="1.0"?>
<launch>
    <node pkg="picar_base" type="motor_driver.py" name="motor_driver" output="screen" />

    <node pkg="picar_base" type="mjpg_streamer" name="streamer" output="screen" args="-o 'output_http.so -w /home/heechul/PiCar2016/www' -i 'input_uvc.so -f 30 -r 320x240'" />

    <!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" > -->
    <!--   <param name="video_device" value="/dev/video0" /> -->
    <!--   <param name="image_width" value="320" /> -->
    <!--   <param name="image_height" value="240" /> -->
    <!--   <param name="framerate" value="30" /> -->
    <!--   <param name="pixel_format" value="yuyv" /> -->
    <!--   <param name="camera_frame_id" value="usb_cam" /> -->
    <!--   <param name="io_method" value="mmap"/> -->
    <!-- </node> -->

    <node pkg="rtimulib_ros" type="rtimulib_ros" name="rtimulib_node" output="screen">
        <param name="calibration_file_path" value="$(find rtimulib_ros)/config"/>
        <param name="frame_id" value="map"/> <!-- /map is used for debug in RViz, to be replaced by the imu_link -->
        <param name="update_rate" value="10"/>
    </node>

    <arg name="port" default="9090" />
    <arg name="address" default="devboard-picar-wifi.ittc.ku.edu" />
    <arg name="ssl" default="false" />
    <arg name="certfile" default=""/>
    <arg name="keyfile" default="" />
    <arg name="retry_startup_delay" default="5" />
    <arg name="fragment_timeout" default="600" />
    <arg name="delay_between_messages" default="0" />
    <arg name="max_message_size" default="None" />
    <arg name="authenticate" default="false" />
    <arg name="model" default="$(find car_model)/urdf/carModel.xacro" />
    <arg name="rvizconfig" default="$(find car_model)/rviz/urdf.rviz" />
    <arg name="use_sim_time" default="false"/>
    <arg name="gui" default="true" />

    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <param name="use_sim_time" value="$(arg use_sim_time)"/>
    <param name="use_gui" value="$(arg gui)" />


    <group if="$(arg ssl)">
      <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
        <param name="certfile" value="$(arg certfile)" />
	<param name="keyfile" value="$(arg keyfile)" />
	<param name="authenticate" value="$(arg authenticate)" />
	<param name="port" value="$(arg port)"/>
	<param name="address" value="$(arg address)"/>
	<param name="retry_startup_delay" value="$(arg retry_startup_delay)"/>
	<param name="fragment_timeout" value="$(arg fragment_timeout)"/>
	<param name="delay_between_messages" value="$(arg delay_between_messages)"/>
	<param name="max_message_size" value="$(arg max_message_size)"/>
      </node>
    </group>
    <group unless="$(arg ssl)">
      <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
	<param name="authenticate" value="$(arg authenticate)" />
	<param name="port" value="$(arg port)"/>
	<param name="address" value="$(arg address)"/>
	<param name="retry_startup_delay" value="$(arg retry_startup_delay)"/>
	<param name="fragment_timeout" value="$(arg fragment_timeout)"/>
	<param name="delay_between_messages" value="$(arg delay_between_messages)"/>
	<param name="max_message_size" value="$(arg max_message_size)"/>
      </node>
    </group>

    <node name="rosapi" pkg="rosapi" type="rosapi_node" />

    <node name="robot_state" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="stream_converter" pkg="car_model" type="stream_converter.py" clear_params="true" required="true" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

    <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_keyboard_node" output="screen" /> -->

</launch>
